# .gittattributes
# - setup for {:NAME:}

# For more information on this file see <https://docs.github.com/en/get-started/getting-started-with-git/configuring-git-to-handle-line-endings>
# For information on file formats see <https://fileinfo.com>

# Note: Not all of these will be used. This file tries to cover everything that might be used on a programming project.

# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.asc   text
*.bash  text eol=lf
*.c     text
*.cpp   text
*.cxx   text
*.h     text
*.hpp   text
*.json  text eol=lf
*.kwd   text
*.ldf   text
*.md    text eol=lf
*.pl    text
*.ps1   text eol=lf
*.py    text eol=lf
*.rs    text
*.s     text
*.sh    text eol=lf
*.sv    text
*.svh   text
*.tex   diff=c++draft
*.toml  text eol=lf
*.txt   text eol=lf
*.xml   text eol=lf
*.yaml  text eol=lf
*.yml   text eol=lf
*.zsh   text eol=lf
README  text
LICENSE text
GNUmakefile text
CMakeLists.txt text

# Declare files that will always have CRLF line endings on checkout.
*.bat text eol=crlf
*.cmd text eol=crlf
*.hta text eol=crlf
*.sln text eol=crlf
*.vbs text eol=crlf

#-------------------------------------------------------------------------------
# Denote all files that are truly binary and should not be modified.
#-------------------------------------------------------------------------------

# Graphics
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.tiff binary
*.tif binary
*.psd binary
*.heic binary
*.svg binary
*.vsdx binary
*.pdf diff=pdfconv
*.pbxproj text eol=lf
.gitattributes text
*.vba text eol=crlf
*.bas text eol=crlf
*.cls text eol=crlf
*.frm text eol=crlf
*.frx binary
*.dotm binary
*.ppam binary
*.pptm binary

# Office Documents
*.pptx binary
*.pptm binary
*.ppsx binary
*.ppsm binary
*.ppam binary
*.ppt binary
*.docx diff=word
*.doc binary
*.xlsx binary
*.xls binary
*.numbers binary
*.ods binary
*.odt binary

# Archives
*.zip binary
*.tgz binary
*.txz binary
*.pkg binary
*.dmg binary
*.iso binary

# Audio/Visual
*.mp3 binary
*.mp4 binary
*.mpeg binary
*.wav binary
*.mpg binary
*.wma binary
*.wmv binary

# Database
*.sql binary
*.db binary

# SSH
*_dsa binary
*_rsa binary
*_ed25519 binary

# Executables & artifacts
*.exe binary
*.bin binary
*.so binary
*.dll binary
*.a binary
